{{#if error}} {{!-- Auth, flash messages etc... --}}
  <div class="container">
    <div class="mt-3 alert alert-warning alert-dismissible">
      <button type="button" class="close">&times;</button>
      <strong data-i18n="ERROR">Error </strong> - <span data-i18n="{{error}}">{{error}}</span>
    </div>
  </div>
{{else }} {{!-- AJAX --}}
  <div class="container fixed-top">
    <div class="mt-3 alert alert-danger alert-dismissible d-none">
      <button type="button" class="close">&times;</button>
      <span id="errorMessage">See 'scripts.hbs'</span>
    </div>
  </div>
{{/if }}

{{#if success }} {{!-- Auth, Flash message --}}
  <div class="container">
    <div class="mt-3 alert alert-success alert-dismissible">
      <button type="button" class="close">&times;</button>
      <strong data-i18n="SUCCESS">Success </strong> - <span data-i18n="{{success}}">{{success}}</span>
    </div>
  </div>
{{/if }}


{{!-- ERROR MODAL / AJAX --}}
<div class="container">

  <!-- The Modal -->
  <div class="modal" id="errorModal" style="z-index: 2100 !important">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header bg-warning">
          <h4 class="modal-title text-danger border-danger">Error !</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark text-light" id="modalText">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>