<!DOCTYPE html>
<html>

  <head>
    <title>Show Attendances</title>
    {{> links}}
  </head>

  <body class="p-0 bg-light text-dark">
    {{> loadingSpinner}}
    {{> navbar}}
    {{> errorHandlers}}
    
    <!-- Content -->
    <div class="container">
      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th>CIN</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each attendances}}
              <tr>
                <td>{{ CIN }}</td>
                <td>{{ ./employee.firstName }}</td>
                <td>{{ ./employee.lastName }}</td>                
                <td>{{dateFormat date "DD/MM/YYYY"}}</td>
                <td>{{dateFormat date "HH:mm:ss"}}</td>
                <td>
                  <button class="showAttendance btn-sm btn-warning">See 
                    <span class="d-none url">/attendances/{{ _id }}</span>
                  </button>
                </td>
              <tr>
        {{/each}}
        </tbody>
      </table>        
    </div> 

    {{> scripts}}
  
  {{> showAttendanceModal }}
  <!-- Script: Show Attendance Modal -->
  <script type="text/javascript" src="/javascripts/show-attendance-modal.js"></script>


  </body>
</html>