<!DOCTYPE html>
<html>

  <head>
    <title>Show Attendances</title>
    {{> links}}
  </head>

  <body class="p-0 bg-light text-dark">
    {{> loadingSpinner}}
    {{> navbar}}
    {{> errorHandlers}}
    
    <!-- Content -->
    <div class="container">
      <form method="GET" action="/attendances/search" class="inline-form mt-5 pt-1 pb-4">
        <div class="input-group">   
          <label class="form-control bg-light">Search Attendance</label>         		
          <input type="text" name="CIN" placeholder="CIN" class="form-control"/>
          <input type="text" name="firstName" placeholder="First name" class="form-control"/>
          <input type="text" name="lastName" placeholder="Last name" class="form-control"/>
          <input type="text" name="date" placeholder="DD/MM/YYYY" class="form-control"/>
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </form>
      <div class="float-right btn-group">
        <a href="/export/csv" class="btn btn-warning">Export to CSV</a>
        <a href="/export/xls" class="btn btn-success">Export to Excel File</a>
        <a href="/export/json" class="btn-dark btn">Export to JSON</a>
      </div>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>CIN</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each attendances}}
              <tr>
                <td>{{ CIN }}</td>
                <td>{{ ./employee.firstName }}</td>
                <td>{{ ./employee.lastName }}</td>                
                <td>{{dateFormat date "DD/MM/YYYY"}}</td>
                <td>{{dateFormat date "HH:mm:ss"}}</td>
                <td>
                  <button class="showAttendance btn-sm btn-warning">See 
                    <span class="d-none url">/attendances/{{ _id }}</span>
                  </button>
                </td>
              <tr>
        {{/each}}
        </tbody>
      </table>        
    </div> 

    {{> scripts}}
  
  {{> showAttendanceModal }}
  <!-- Script: Show Attendance Modal -->
  <script type="text/javascript" src="/javascripts/show-attendance-modal.js"></script>


  </body>
</html>