<!DOCTYPE html>
<html>

  <head>
    <title>Employees</title>
    {{> links}}
  </head>

  <body class="p-0 bg-light text-dark">
    {{> loadingSpinner}}
    {{> navbar}}
    {{> errorHandlers}}
    
     <!-- Content -->
     <div class="container-fluid mt-4">
          <div class="container-fluid pb-3">
            <div class="row">
              <div class="col-2 text-center">
                {{> employees/new}}
              </div>
              <div class="col-10">
                <h3 class="pb-3">Search for Employees</h3>
                <form action="/employees/search" method="GET">
                  <input autofocus name="q" type="text" class="form-control" placeholder="Filter by name or CIN" />
                </form>
              </div>
            </div>
          </div>
          {{#if query }}
              <h5 class="text-center">Search result for : <span class="text-success">{{ query }}</span></h5>
          {{/if}}
          <hr>
          <div class="row p-0 m-0" id="listOfEmployees">
          {{#each employees}}
            <div class="employee col-3 p-2">
              <div class="media border p-1">
                
                {{#if profileImage.data}}
                  <img src="{{profileImage.data}}" alt="{{lastName}}" class="mr-3 m-1" style="width:60px;">
                {{else}}
                  <img src="/images/img_avatar3.png" class="mr-3 m-1" style="width:60px; height: 45px;">
                {{/if}}

                <div class="media-body">
                  <a href="/employees/{{_id}}" class="text-dark">
                    <h6>{{firstName}} {{lastName}} <span><i>{{CIN}}</i></span></h6>
                  </a>
                    <p>{{phoneNumber}}</p>
                </div>
              </div> 
            </div>         
          {{/each}}
        </div>        
      </div> 

      <!-- Will be used in Front End -->
      <div class="d-none" id="emptyEmployee">
        <div class="employee col-3 p-2">
              <div class="media border p-1">
                <img id="img" src="/images/img_avatar3.png" alt="John Doe" class="mr-3 m-1 rounded-circle" style="width:60px;">
                <div class="media-body">
                  <a id="link" href="/employees/_id" class="text-dark">
                  <h6><span id="fullName">firstName lastName</span> <span id="CIN" class="font-italic">CIN</span></h6>
                  </a>
                  <p id="phoneNumber">phoneNumber</p>
                </div>
              </div> 
          </div> 
      </div>

    {{> scripts}}
    
    <!-- Script :  NEW Employee -->
    <script src="/javascripts/create-new-employee.js"></script>
  </body>

</html>