<!DOCTYPE html>
<html>

  <head>
    <title>Show Attendances</title>
    {{> links}}
  </head>

  <body class="p-0 bg-light text-dark">
    {{> loadingSpinner}}
    {{> navbar}}
    {{> errorHandlers}}
    
    <!-- Content -->
    <div class="container">
      <form method="GET" action="/attendances/search" class="inline-form mt-5 pt-1 pb-4">
        <div class="input-group">   
          <label class="form-control bg-light" data-i18n="FILTER_ATTENDANCES">
            Filter Attendances</label>         		
          <input type="text" name="CIN" data-i18n="[placeholder]CIN" placeholder="CIN" class="form-control"
            value="{{CIN}}" />
          <input type="text" name="firstName" data-i18n="[placeholder]FIRSTNAME" placeholder="First name"
            value="{{firstName}}" class="form-control"/>
          <input type="text" name="lastName" data-i18n="[placeholder]LASTNAME" placeholder="Last name" 
            value="{{lastName}}" class="form-control"/>
          <input type="text" name="date" placeholder="DD/MM/YYYY" 
            value="{{date}}" class="form-control"/>
          <button type="submit" class="btn btn-success">
            <i class="fas fa-search"></i>
            <span data-i18n="SEARCH">Search</span></button>
        </div>
      </form>
      <div class="float-right btn-group">
        <a href="/export/csv" class="btn btn-warning">
          <i class="fas fa-file-export"></i>
          CSV
        </a>
        <a href="/export/xls" class="btn btn-success">
          <i class="fas fa-file-excel"></i>
          Excel
        </a>
        <a href="/export/json" class="btn-dark btn">
          <i class="fas fa-file-export"></i>
          JSON
        </a>
      </div>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th data-i18n="CIN">CIN</th>
            <th data-i18n="FIRSTNAME">Firstname</th>
            <th data-i18n="LASTNAME">Lastname</th>
            <th data-i18n="DATE">Date</th>
            <th data-i18n="TIME">Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each attendances}}
              <tr>
                <td>{{ CIN }}</td>
                <td>{{ ./employee.firstName }}</td>
                <td>{{ ./employee.lastName }}</td>                
                <td>{{dateFormat date "DD/MM/YYYY"}}</td>
                <td>{{dateFormat date "HH:mm:ss"}}</td>
                <td>
                  <button class="showAttendance btn-sm btn-warning">
                    <i class="fas fa-eye">
                    <span class="d-none date">{{dateFormat date "DD/MM/YYYY à HH:mm"}}</span>
                    <span class="d-none url">/attendances/{{ _id }}</span>
                    </i>
                  </button>
                </td>                
              <tr>
        {{/each}}
        </tbody>
      </table>   

      <!-- Center-aligned Pagination-->
      <ul class="pagination justify-content-center" style="margin: 20px 0">
        <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
        {{#each pages }}
          <li class="page-item">
            {{#if selected }}
              <a class="page-link bg-warning text-dark" href="/attendances{{../pathSuffix}}?page={{textContent}}{{../queryStringParams}}">{{textContent}}</a>
            {{else }}
              <a class="page-link bg-dark text-light" href="/attendances{{../pathSuffix}}?page={{textContent}}{{../queryStringParams}}">{{textContent}}</a>
            {{/if}}              
          </li>
        {{/each }}
       <!--  <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
      </ul>           
    </div> 

    {{> scripts}}
  
  {{> showAttendanceModal }}
  <!-- Script: Show Attendance Modal -->
  <script type="text/javascript" src="/javascripts/show-attendance-modal.js"></script>


  </body>
</html>