<div class="row pt-3">
  <div class="col-12">
    <h3 class="bg-dark text-light mb-0 pb-2 pt-1  text-center">Last attendances</h3>
    <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>CIN</th>
            <th>Full name</th>
            <th>Attendance date</th>
            <th></th>       
          </tr>
        </thead>
        <tbody >
          {{#each lastAttendances}}
          <tr class="attendanceRow">
              <td class="CIN">
                <a href="/employees/{{employee._id}}" class="CIN text-secondary">
                {{ CIN }}
                </a>
              </td>
              <td>
                <a href="/employees/{{employee._id}}" class="fullName text-secondary">
                  {{ employee.firstName }} {{ employee.lastName}}
                </a>
              </td>
              <td><a href="/employees/{{employee._id}}" class="date text-secondary">{{dateFormat date "DD/MM/YYYY à HH:mm"}}</a></td>  
              <td class="p-0 pt-2"><a href="/employees/{{employee._id}}" class="link btn btn-sm btn-dark">Show</a></td>
          </tr>
          {{/each}}
         <tr class="attendanceRow">
            <td><a href="" class="CIN text-secondary"></a></td>
            <td><a href="" class="fullName text-secondary"></a></td>
            <td><a href="" class="date text-secondary"></a></td>
            <td><a href="" class="link text-warning"></a></td>
          </tr>
        </tbody>
      </table>
      <!-- Center-aligned -->
      <ul class="pagination justify-content-center mt-2" style="margin:20px 0; border-radius: 0;">
          <a href="/attendances" class="btn btn-block w-50 btn-dark">Show all</a>
      </ul>

  </div>
</div>

