{{#if employee}}
  <div id="lastPersonChecked">
  <h4 class="card-title"><a href="/employees/{{employee._id}}" id="hrefLastPerson" class="text-secondary"><span id="fullName">{{employee.firstName}} {{employee.lastName}}</span>
   <small class="pl-3 text-dark font-weight-bold"># CIN <span class="text-secondary">{{ employee.CIN }}</span></small>
  </a></h4>
  <h5>
    
  </h5>
  {{#if lastAttendance }}                 
      <h5 class="text-secondary"><span class="text-dark">Présent le </span> <span id="attendanceDate">{{dateFormat lastAttendance.date "DD/MM/YYYY à HH:mm"}} </span></h5>
  {{/if}}
  <p class="card-text">Présence cette semaine TODO</p>
  <div class="container-fluid">
    <div class="row text-center">
      <div id="lundi" class="day">Lu
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
      <div id="mardi" class="day">Ma
        <br>
        <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
      </div>
      <div id="mercredi" class="day">Mer
        <br>
        <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
      </div>
      <div id="jeudi" class="day">Je
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
      <div id="vendredi" class="day">Ve
        <br>
        <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
      </div>
      <div id="samedi" class="day">Sa
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
      <div id="dimanche" class="day">Di
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
    </div>
  </div>
  </div>
{{else}}
  <!-- Not displayed but I need it for jQuery (New Attendance) -->
  <div id="lastPersonChecked" class="d-none">
  <h4 class="card-title"><a href="#" id="hrefLastPerson" class="text-secondary"><span id="fullName"></span>
   <small class="pl-3 text-dark font-weight-bold"># CIN <span class="text-secondary" id="CIN"></span></small>
  </a></h4>
  <h5 class="text-secondary"><span class="text-dark">Présent le </span> <span id="attendanceDate">...</span></i></h5>

  <p class="card-text">Présence cette semaine TODO</p>
  <div class="container-fluid">
    <div class="row text-center">
      <div id="lundi" class="day">Lu
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
      <div id="mardi" class="day">Ma
        <br>
        <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
      </div>
      <div id="mercredi" class="day">Mer
        <br>
        <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
      </div>
      <div id="jeudi" class="day">Je
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
      <div id="vendredi" class="day">Ve
        <br>
        <span class="border text-success font-weight-bold pl-1 pr-1">P</span>
      </div>
      <div id="samedi" class="day">Sa
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
      <div id="dimanche" class="day">Di
        <br>
        <span class="border text-light font-weight-bold pl-1 pr-1">A</span>
      </div>
    </div>
  </div>
  </div>
{{/if }}