{{#if employee}}
<div class="col-5 ml-0 pl-2 mt-2">
<div class="card">
	<div class="card-header bg-dark text-light">
		<h2>			
			<span data-i18n="EMPLOYEE_INFO">Employee Info</span>
			<i class="far fa-address-card float-right"></i>
		</h2>
	</div>
	<div class="card-body">
		<input type="hidden" value="{{employee._id}}" name="idEmp"/>
		<p class="text-dark"><b data-i18n="FIRSTNAME">First name</b> {{employee.firstName}}</p>
		<p><b data-i18n="LASTNAME">Last name</b> {{employee.lastName}}</p>
		<p><b data-i18n="PHONE">Phone</b> {{employee.phoneNumber}}</p>
		<p><b data-i18n="BIRTH_DATE">Birth Date</b> {{dateFormat employee.birthDate "DD/MM/YYYY"}}</p>
		
		<div>
		{{#if employee.profileImage.data}}
			<img class="img-fluid" src="{{employee.profileImage.data}}" alt="{{employee.lastName}}" id="empPicture">
		{{else}}
			<img class="img-fluid" id="empPicture" src="/images/img_avatar3.png" alt="{{employee.lastName}}">
		{{/if}}
		</div>

		<div style="width: 250px">
			<button id="takePicture"  class="btn btn-dark btn-block" data-toggle="modal" data-target="#takePictureModal">
			<i class="fas fa-camera-retro"></i>
			<span data-i18n="TAKE_PICTURE">Take Picture</span></button>
		</div>
	</div>
</div>
	
	


{{else}}
	Employee Undefined, See Logs
{{/if}}

</div>