{{#if employee}}

	<h1>Employee Info</h1>
	<input type="hidden" value="{{employee._id}}" name="idEmp"/>
	<p class="text-dark"><b>First name</b> {{employee.firstName}}</p>
	<p><b>Last name</b> {{employee.lastName}}</p>
	<p><b>Phone</b> {{employee.phoneNumber}}</p>
	<p><b>Birth Date</b> {{employee.birthDate}}</p>
	
	<div class="w-50">
	{{#if employee.profileImage.data}}
		<img class="img-fluid" src="{{employee.profileImage.data}}" alt="{{employee.lastName}}" id="empPicture">
	{{else}}
		<img class="img-fluid" id="empPicture" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="{{employee.lastName}}">
	{{/if}}
	</div>

	<div style="width: 155px">
		<button id="takePicture"  class="btn btn-dark btn-block" data-toggle="modal" data-target="#takePictureModal">
		<i class="fas fa-camera-retro"></i>
		Take Picture</button>
	</div>
	



{{else}}
undefuned
{{/if}}